/.build/*
/evm-semantics

*.class
*.iml
*.ipr
*.iws
target
.idea
*.aux
*.bbl
*.blg
*.log
*.out
*.merge-output
*.synctex.gz
!docs/hash-symbol.pdf
*.fdb_latexmk
*.fls
*.tix
*.toc
.stack-work*
.*.swp
.*.swo
tags
.classpath
.project
.settings
*-kompiled/
.dir-locals.el
*.prof
.kprove-*
.krun-*
/coverage_report
/haskell_documentation
test-results.xml
.directory
/dist-newstyle/
/dist/
*.fail
cabal.project.local
*.save-proofs.kore
/.envrc
/result*
/local.nix
/shell.local.nix
/TAGS
/.TAGS*
kore-exec.tar.gz
hie.yaml
.hie/
/.direnv
/.vscode
.DS_Store
*~
/scripts/logs
/scripts/bug-reports
/booster/test/rpc-integration/resources/*.dylib
/booster/test/*/definition/*kompiled/

# the LLVM bindings from ./booster/cbits are symlinked to the root ./cbits to make HLS work
/cbits
