*.cache
*.class
*.iml
*.ipr
*.iws
target
.idea
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
!docs/hash-symbol.pdf
*.fdb_latexmk
*.fls
*.toc
.stack-work
.*.swp
.*.swo
tags
.classpath
.project
.settings
*-kompiled/
src/main/haskell/stack.yaml
