/.build/*
/evm-semantics

*.cache
*.class
*.iml
*.ipr
*.iws
target
.idea
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
!docs/hash-symbol.pdf
*.fdb_latexmk
*.fls
*.tix
*.toc
.stack-work*
.*.swp
.*.swo
tags
.classpath
.project
.settings
*-kompiled/
.dir-locals.el
*.prof
.kprove-*
/coverage_report
/haskell_documentation
test-results.xml
.directory
