.stack-work*
/*.cabal
/dev-tools/*.cabal
*~
/dist-newstyle
/.direnv
/.build
/.vscode
result*
.envrc
/test/llvm-integration/definition/llvm-kompiled/
/test/rpc-integration/resources/*.dylib
.DS_Store
/*.code-workspace
/scripts/bug-reports
/scripts/logs