---
name: Performance Profiling
on:
  # Trigger when an Issue created, edited; Issue MUST already be labeled properly
  issue_comment:
    types: [created, edited]

jobs: 
  Profiling:
    if: |
      contains(github.event.issue.labels.*.name, 'performance') &&
      ( contains(github.event.comment.body, '.tar.gz') || contains(github.event.issue.body, '.tar.gz') )
    runs-on: [Linux, performance]
    env:
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Clean _work Folder
        run: |
          echo "Cleaning Folder"
          rm -rf ./*
      
      - name: Check User Org Association
        run: |
          set -euo pipefail
          echo $(pwd)

          echo "Testing User Org Relationship: $GITHUB_ACTOR"
          gh auth status
          if ! gh api -H "Accept: application/vnd.github+json" /orgs/runtimeverification/members/$GITHUB_ACTOR; then
            exit 1
          fi
          echo "Context: "
          cat ${GITHUB_EVENT_PATH}

          echo "Creating Download URL from ISSUE"
          echo "DOWNLOAD_URL=$(cat ${GITHUB_EVENT_PATH} | jq '.comment.body' | grep -oP '(https:)(.*?)(?=\))' )" >> ${GITHUB_ENV}

          echo "GITHUB_ISSUE_ID=$(cat ${GITHUB_EVENT_PATH} | jq '.issue.number')" >> ${GITHUB_ENV}

      - name: Download Files & Test
        run: |
          set -euo pipefail
          echo "${DOWNLOAD_URL}"
          curl -LO ${DOWNLOAD_URL}
          echo "FILE_NAME=$(basename ${DOWNLOAD_URL})" >> ${GITHUB_ENV}
          file $(basename ${DOWNLOAD_URL})

      - uses: slackapi/slack-github-action@v1.22.0
        id: slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "pass_fail": "IN PROGRESS",
              "link_to_result": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }

      - name: Run Tests
        run: |
          set -euo pipefail

          . /home/github-runner/.nix-profile/etc/profile.d/nix.sh
          echo "Starting Test Execution"
          echo "RUNNING PROFILE: ${FILE_NAME}"
          nix run github:runtimeverification/haskell-backend#profile ./${FILE_NAME}

      - name: Publish Profile Results
        uses: actions/upload-artifact@v3.1.0
        with:
          path: ./profile-*.tar.gz

  on-success:
    needs: Profiling
    runs-on: [Linux]
    if: ${{ always() && contains(join(needs.*.result, ','), 'success') }}
    container: dockerhub-runtimeverification.com:5000/base/build-image:1
    env:
      GH_TOKEN: ${{ secrets.ORG_PAT }}
    steps:
      - name: collect-info
        run: |
          echo "Use Context Info from Failed Run Triggering"
      - uses: slackapi/slack-github-action@v1.22.0
        id: slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "pass_fail": "PASSED",
              "link_to_result": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
  on-failure:
    needs: Profiling
    runs-on: [Linux]
    if: ${{ always() && contains(join(needs.*.result, ','), 'failure') }}
    env:
      GH_TOKEN: ${{ secrets.ORG_PAT }}
    steps:
      - name: collect-info
        run: |
          echo "Use Context Info from Failed Run Triggering"
      - uses: slackapi/slack-github-action@v1.22.0
        id: slack
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "pass_fail": "FAILED",
              "link_to_result": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
